<!DOCTYPE html>
<body>
    <form action="chess" method="get">
        <button type="submit">
            Go to chess
        </button>
    </form>
    <form action="search" method="get">
        <button type="submit">
            Search for your candidates
        </button>
    </form>
</body>